workflow.yaml
id: medicare_api_to_gcs
namespace: dev

tasks:
  - id: extract_medicare_data
    type: io.kestra.plugin.scripts.python.Script
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    beforeCommands:
      - pip install pandas requests
    script: |
      import requests
      import pandas as pd
      url = "https://data.cms.gov/data-api/v1/dataset/d7fabe1e-d19b-4333-9eff-e80e0643f2fd/data"
      r = requests.get(url, params={"size": 5000})
      pd.DataFrame(r.json()).to_csv("medicare_raw.csv", index=False)
    outputFiles:
      - medicare_raw.csv

  - id: upload_to_gcs
    type: io.kestra.plugin.gcp.gcs.Upload
    from: "{{ outputs.extract_medicare_data.outputFiles['medicare_raw.csv'] }}"
    to: "gs://medicare-lake-medicare-analysis-45210/raw/medicare_enrollment.csv"
    projectId: "medicare-analysis-45210"
    # PASTE YOUR ENTIRE JSON CONTENT BELOW THE PIPE '|'
    serviceAccount: |
      {
        "type": "service_account",
        "project_id": "YOUR_PROJECT_ID",
        "private_key_id": "id_value",
        "private_key": "-----BEGIN PRIVATE KEY-----\nD3pSkls\n4TLp+OVIUrZQreaCLqpDF3aiwEj+ZpEVI/eHTIdY7JkEyNVOPL+f1JeaeinR1/qV5Gjbj2ROJihIgU8Xr2RQuY8/qcfzmM7UcsBr\nQO7pQ4E+xRQS0urq4ok3kow=\n-----END PRIVATE KEY-----\n",
        "client_email": "terraform-runner@YOUR_PROJECT_ID.iam.gserviceaccount.com",
        "client_id": "client_id_value",
        "auth_uri": "https://accounts.google.com/o/oauth2/auth",
        "token_uri": "https://oauth2.googleapis.com/token",
        "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
        "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/terraform-runner%40medicare-analysis-45210.iam.gserviceaccount.com",
        "universe_domain": "googleapis.com"
      }

  - id: load_to_bigquery
    type: io.kestra.plugin.gcp.bigquery.Load
    from: "{{ outputs.extract_medicare_data.outputFiles['medicare_raw.csv'] }}"
    destinationTable: "YOUR_PROJECT_ID.medicare_data.raw_enrollment"
    projectId: "YOUR_PROJECT_ID"
    format: CSV
    csvOptions:
      fieldDelimiter: ","
      skipLeadingRows: 1
    autodetect: true
    writeDisposition: WRITE_TRUNCATE
    # COPY THE SAME JSON CONTENT HERE
    serviceAccount: |
      {
        "type": "service_account",
        "project_id": "YOUR_PROJECT_ID",
        "private_key_id": "id_value",
        "private_key": "-----BEGIN PRIVATE KEY-----\SApzsiTifKND3pSkls\n44+uz5cRtGtFuTHVIWyh/o67XWLcX44VkmTB/vvvAGddvPH6bhT0PL+f1JeaeinR1/qV5Gjbj2ROJihIgU8Xr2RQuY8/qcfzmM7UcsBr\nQO7pQ4E+xRQS0urq4ok3kow=\n-----END PRIVATE KEY-----\n",
        "client_email": "terraform-runner@YOUR_PROJECT_ID.iam.gserviceaccount.com",
        "client_id": "clientid_number",
        "auth_uri": "https://accounts.google.com/o/oauth2/auth",
        "token_uri": "https://oauth2.googleapis.com/token",
        "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
        "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/terraform-runner%40YOUR_PROJECT_ID.iam.gserviceaccount.com",
        "universe_domain": "googleapis.com"
      }
