workflow.yaml
id: medicare_api_to_gcs
namespace: dev

tasks:
  - id: extract_medicare_data
    type: io.kestra.plugin.scripts.python.Script
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    beforeCommands:
      - pip install pandas requests
    script: |
      import requests
      import pandas as pd
      url = "https://data.cms.gov/data-api/v1/dataset/d7fabe1e-d19b-4333-9eff-e80e0643f2fd/data"
      r = requests.get(url, params={"size": 5000})
      pd.DataFrame(r.json()).to_csv("medicare_raw.csv", index=False)
    outputFiles:
      - medicare_raw.csv

  - id: upload_to_gcs
    type: io.kestra.plugin.gcp.gcs.Upload
    from: "{{ outputs.extract_medicare_data.outputFiles['medicare_raw.csv'] }}"
    to: "gs://medicare-lake-medicare-analysis-45210/raw/medicare_enrollment.csv"
    projectId: "medicare-analysis-45210"
    # PASTE YOUR ENTIRE JSON CONTENT BELOW THE PIPE '|'
    serviceAccount: |
      {
        "type": "service_account",
        "project_id": "YOUR_PROJECT_ID",
        "private_key_id": "id_value",
        "private_key": "-----BEGIN PRIVATE KEY-----\nD3pSkls\n4TZc3fUetzAeWBzr+hcIUFfcK7XAfFV2xtiTz8bkqDJqgzoeEjaDgHPEqC2LxTCo\nQob6MlGt2hMuKbroMUz5vGloUQ4+PPOtPtSp463C/X5Ic+4Dx/b0FwlKZICla/+4\n9x9Qk0uXq/IatAFs+k2Se8uV19b1NCiekahBAnmoKS5gb22spr6ggwPAmhMB16II\n7FQJ1JWQrgxF9FxWD03Z798+uESZuA6ZbHqo8oGmN6+G8+YqJSr278mOQO9qxp3E\nghvq8TWFAgMBAAECggEAQ56i+9WQs8+YwT1dldVAi0/8ClDWVbUDH0+0RLyvqoMD\nUjdbCNH2D5QZ5JMja/MeXjp7Qav3AFO1Vo+uZeAMHxendA6JF8uwaabbB04ipRCz\n9yd0odFz4e+KW2hf4pldwM9swPI5sVbP/LvG2Y0f9rFxRQJv0ez4DnDgvMeV1iVD\ni/ncOJ/JkDUAz7J8kO4kWY4y3Pk4S9TYXnsMIVbaI/F3XOA3TVvx3ysSQC65Fb6y\nptDfsQzI03T/DFqGfFlGamuPwVbXEeap5b8PuGIXvIAHgsmRgOn4tH3Lp+OcB1DX\nej5o7PbaQHlFPtpOgk5H3GCnTNktf1NaXKY74vmuawKBgQD6x8aO6EwShCg51cXS\nx70LiBnk7bHg53l7RdKNWKrnUTBngnQW2NEb1++Qg4p4dp/YXBSaiIGNYl/xr4OL\nXluIl4cElG5zCeE7fXDj0s/cITmrlN3CH/g75dfRx/VfF2I78H+LQkDGEN5vyzUv\nlVIUrZQreaCLk+okCVgqjXYQVwKBgQDLRJHwS+m4+uz5cRtGtFkIH+6TIEdJ2x3i\n47orElXqZO9ZCW4pQyNmYxk9CpKZ6wwZThgxAaCESOTVCRtJ7hZbyPLcjltkJUlX\n+MydIkZ9du8hIqGatMPEAtikUJ7tpHcpCfnJnbELvJoBzoi+aF5mp5UrakbElVZf\nvw5x7eRPgwKBgQDPsIvc5r25yAGYhFalTg5ecoUfd0uNu6Z8VUMfFIPVtwOjdgK2\nuTHVIWyh/o67XWLcSMY3hT3l3ccf3f/PeIHOCdAkFtmyJEiIgEbyJzFGWa3tUAio\nMNngoWWvsy6fZjpQ8chviJskbewKIf0WP1APGAJSTxSLBCExXxvJggZ5WQKBgH9v\nMsti3FmzPuQ3i/Es2fBlDI5Cm07rR3ZabPnZ2fFEbGX2qpDF3aiwEj+ZpEVI/eHT\newkmSvsENCp3NhuIX44VkmTB/vvvAGddvPH6bhT0foDYlFZIY788RZPmU20LQgWB\nko9bBIcmK6tcT5CIID7da4C3dTyDn44RWr4EdbF/AoGAWjua4udJPhHSxxeSVXEk\nBXGfrgxA3UEDExmSghXpKyopSzb2qGJiqvw1FocADpNXOQqtFYkdE7udEXMlrsr2\n8IdY7JkEyNVOPL+f1JeaeinR1/qV5Gjbj2ROJihIgU8Xr2RQuY8/qcfzmM7UcsBr\nQO7pQ4E+xRQS0urq4ok3kow=\n-----END PRIVATE KEY-----\n",
        "client_email": "terraform-runner@YOUR_PROJECT_ID.iam.gserviceaccount.com",
        "client_id": "client_id_value",
        "auth_uri": "https://accounts.google.com/o/oauth2/auth",
        "token_uri": "https://oauth2.googleapis.com/token",
        "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
        "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/terraform-runner%40medicare-analysis-45210.iam.gserviceaccount.com",
        "universe_domain": "googleapis.com"
      }

  - id: load_to_bigquery
    type: io.kestra.plugin.gcp.bigquery.Load
    from: "{{ outputs.extract_medicare_data.outputFiles['medicare_raw.csv'] }}"
    destinationTable: "YOUR_PROJECT_ID.medicare_data.raw_enrollment"
    projectId: "YOUR_PROJECT_ID"
    format: CSV
    csvOptions:
      fieldDelimiter: ","
      skipLeadingRows: 1
    autodetect: true
    writeDisposition: WRITE_TRUNCATE
    # COPY THE SAME JSON CONTENT HERE
    serviceAccount: |
      {
        "type": "service_account",
        "project_id": "YOUR_PROJECT_ID",
        "private_key_id": "id_value",
        "private_key": "-----BEGIN PRIVATE KEY-----\SApzsiTifKND3pSkls\n44+uz5cRtGtFkIH+6TIEdJ2x3i\n47orElXqZO9ZCW4pQyNmYxk9CpKZ6wwZThgxAaCESOTVCRtJ7hZbyPLcjltkJUlX\n+MydIkZ9du8hIqGatMPEAtikUJ7tpHcpCfnJnbELvJoBzoi+aF5mp5UrakbElVZf\nvw5x7eRPgwKBgQDPsIvc5r25yAGYhFalTg5ecoUfd0uNu6Z8VUMfFIPVtwOjdgK2\nuTHVIWyh/o67XWLcSMY3hT3l3ccf3f/PeIHOCdAkFtmyJEiIgEbyJzFGWa3tUAio\nMNngoWWvsy6fZjpQ8chviJskbewKIf0WP1APGAJSTxSLBCExXxvJggZ5WQKBgH9v\nMsti3FmzPuQ3i/Es2fBlDI5Cm07rR3ZabPnZ2fFEbGX2qpDF3aiwEj+ZpEVI/eHT\newkmSvsENCp3NhuIX44VkmTB/vvvAGddvPH6bhT0foDYlFZIY788RZPmU20LQgWB\nko9bBIcmK6tcT5CIID7da4C3dTyDn44RWr4EdbF/AoGAWjua4udJPhHSxxeSVXEk\nBXGfrgxA3UEDExmSghXpKyopSzb2qGJiqvw1FocADpNXOQqtFYkdE7udEXMlrsr2\n8IdY7JkEyNVOPL+f1JeaeinR1/qV5Gjbj2ROJihIgU8Xr2RQuY8/qcfzmM7UcsBr\nQO7pQ4E+xRQS0urq4ok3kow=\n-----END PRIVATE KEY-----\n",
        "client_email": "terraform-runner@YOUR_PROJECT_ID.iam.gserviceaccount.com",
        "client_id": "clientid_number",
        "auth_uri": "https://accounts.google.com/o/oauth2/auth",
        "token_uri": "https://oauth2.googleapis.com/token",
        "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
        "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/terraform-runner%40YOUR_PROJECT_ID.iam.gserviceaccount.com",
        "universe_domain": "googleapis.com"
      }